<footer class="footer">
  <div class="d-sm-flex justify-content-between align-items-center">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
      >Designed & Developed by BhattSquare</span
    >
    <span class="text-muted d-block text-center"
      >Copyright © {% now "Y" %}
      <a href="https://www.bhattsquare.com/" target="_blank">BhattSquare</a>.
      All rights reserved.</span
    >
    <span class="text-muted d-block text-center text-sm-right d-sm-inline-block"
      >Version 3.7.22</span
    >
  </div>
</footer>
