<footer class="footer">
  <div class="d-sm-flex justify-content-between align-items-center">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
      Designed & Developed by <a href="https://www.bhattsquare.com/" target="_blank" class="text-primary font-weight-bold">BhattSquare</a>
    </span>
    <span class="text-muted d-block text-center text-sm-right d-sm-inline-block">
      Copyright © {% now "Y" %} <a href="https://www.bhattsquare.com/" target="_blank" class="text-primary">BhattSquare</a>. All rights reserved.
    </span>
  </div>
</footer>
